body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  #canvas {
    width: 1280px;
    height: 720px;
    margin: auto;
    border: 5px solid black;
    position: relative;
    background-image: url("ASSETS/Background.png");
    background-size: cover;
  }
  
  #player {
    width: 54px;
    height: 100px;
    position: absolute;
    background-image: url("ASSETS/Player_SpriteSheet.png");
    background-size: cover;
    background-position: 0%;
    left: 25px;
    top: 550px;
    transition: left 0.1s, top 0.1s;
  }

  #npc1 {
    width: 54px;
    height: 100px;
    position: absolute;
    background-image: url("ASSETS/NPC1.png");
    background-size: cover;
    left: 150px;
    top: 553px;
  }
  #HitBox1 {
    width: 200px;
    height: 150px;
    position: absolute;

    left: 80px;
    top: 500px;
  }

  #npc2 {
    width: 54px;
    height: 100px;
    position: absolute;
    background-image: url("ASSETS/NPC2.png");
    background-size: cover;
    left: 450px;
    top: 553px;
  }
  #HitBox2 {
    width: 200px;
    height: 150px;
    position: absolute;

    left: 380px;
    top: 500px;
  }

  #npc3 {
    width: 54px;
    height: 100px;
    position: absolute;
    background-image: url("ASSETS/NPC3.png");
    background-size: cover;
    left: 733px;
    top: 551px;
  }
  #HitBox3 {
    width: 200px;
    height: 150px;
    position: absolute;

    left: 660px;
    top: 500px;
  }

  #npc4 {
    width: 54px;
    height: 100px;
    position: absolute;
    background-image: url("ASSETS/NPC4.png");
    background-size: cover;
    left: 1085px;
    top: 471px;
  }
  #HitBox4 {
    width: 200px;
    height: 150px;
    position: absolute;

    left: 1010px;
    top: 500px;
  }


  #timer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    font-weight: bold;
    color:white;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    text-align: center;
  }

  #night {
    position: absolute;
    top: -52px;
    left: 6%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: red;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  #myButton {
    position: fixed;
    bottom: 450px;
    right: 45px;
    background-color: rgb(109, 24, 152);
    color: white;
    border: none;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    outline: 5px solid rgb(0, 0, 0);
  }
  
  #myButton:hover {
    background-color: rgb(73, 105, 231);
    color: black;
  }